<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atguigu.l10_myapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService" >
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name=".SlideActivity"
            android:label="@string/title_activity_slide" >
        </activity>
        <activity
            android:name=".MyImage1Activity"
            android:label="@string/title_activity_my_image1" >
        </activity>
        <activity
            android:name=".MyImage2Activity"
            android:label="@string/title_activity_my_image1" >
        </activity>
        <activity
            android:name=".MyImage3Activity"
            android:label="@string/title_activity_my_image1" >
        </activity>
        <activity
            android:name=".RollActivity"
            android:label="@string/title_activity_roll" >
        </activity>
        <activity
            android:name=".Mytent"
            android:label="@string/title_activity_mytent" >
        </activity>
        <activity
            android:name=".Myset"
            android:label="@string/title_activity_myset" >
        </activity>
        <activity
            android:name=".MyContentActivity"
            android:label="@string/title_activity_my_content" >
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
